body {
  text-align: center;
  font-family: Helvetica;
}

p {
    font-size: 14px;
}

a {
  font-size: 18px;
  color: white;
}

#header {
  background-image: url(../the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}

#heading {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.menu {
  list-style-type: none;
  text-decoration: none;
}

.menu li {
  padding-top: 15px;
}


#subheading {
  font-size: 32px;
  font-weight: bold;
}

.catheading {
  font-size: 23px;
  font-weight: bold;
}

#invertheading {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(..//the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}

#details {
  list-style-type: none;
}

#details li {
  padding-bottom: 15px;
}

#footer {
  background-color: dimgray;
  text-align: left;
  color:white;
}

#footer ul li {
  display: inline;
}

#copy {
  font-size: 11px;
}
