body {
  text-align: center;
  font-family: Helvetica;
}

p {
    font-size: 14px;
}

#header {
  background-image: url(../the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}

#heading {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.menu {
  font-size: 18px;
  color: white;
  list-style-type: none;
  text-decoration: none;
}

#subheading {
  font-size: 32px;
  font-weight: bold;
}

.catheading {
  font-size: 23px;
  font-weight: bold;
}

#invertheading {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(..//the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}
